h1 {
	color :#f73252; 
	text-align:center;
}
h2 {
	color :#f73252;
	text-align:center;
}

h3 {
	color :#f73252;
	text-align:center;
}

p {
	color :#7dc410;
	font-family: serif;
}
	img{
		margin-left: 500px;
}